
.card-body h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.button button{
    display: flex;
    margin-top: 2vh;
    border: 2px solid gray;
    padding: 0.5rem 1.5rem;
}

.navbar-container{
    width: 100%;
    position: fixed; 
    top: 0;
}